label {
  display: inline;
}

head {
  color: #871d33;
  font-size: larger;
  font-weight: bold;
  margin-top: 7px;
}

front > head {
  font-size: 2em;
  font-weight: normal;
}

list[type = "agenda"] {
  background-color: whitesmoke;
  margin-bottom: 7px;
}

item {
  display: list-item;
  margin-left: 1em;
}

p {
  margin-bottom: 7px;
}

note {
  border-left: 3px solid silver;
  color: grey;
  font-size: smaller;
  margin-bottom: 2px;
  margin-top: 7px;
  padding-left: 5px;
}
