div[_tag = "label"] {
  display: inline;
}

div[_tag = "head"] {
  color: #871d33;
  font-size: larger;
  font-weight: bold;
  margin-top: 7px;
}

div[_tag = "front"] > div[_tag = "head"] {
  font-size: 2em;
  font-weight: normal;
}

div[_tag = "list"][type = "agenda"] {
  background-color: whitesmoke;
  margin-bottom: 7px;
}

div[_tag = "item"] {
  display: list-item;
  margin-left: 1em;
}

div[_tag = "p"] {
  margin-bottom: 7px;
}

div[_tag = "note"] {
  border-left: 3px solid silver;
  color: grey;
  font-size: smaller;
  margin-bottom: 2px;
  margin-top: 7px;
  padding-left: 5px;
}